@model List<CardMovieVm>
@{
    ViewData["Title"] = "List of movies";
}
<section class="row">
    <article class="me-2">
        <h4>Movies</h4>
    </article>
    <section class="row">
        @if (Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                <article class="col-4 mb-3">
                    @await Html.PartialAsync("Movie/_Card", item)
                </article>
            }
        }
        else
        {
            <article class="alert alert-warning" role="alert">There is no movie!</article>
        }
    </section>
</section>