@model AddActorToMovieDto

<h4>Add an actor for <strong>@Model.Movie</strong></h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="AddActor" asp-route-id="@Model.MovieID">
            <input type="hidden" asp-for="MovieID" class="form-control" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="ActorID" class="control-label"></label>
                <select asp-for="ActorID" asp-items="@ViewBag.AvailableActors" class="form-control"></select>
                <span asp-validation-for="ActorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <input asp-for="Role" class="form-control" />
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Assign actor" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}